<div class="flex-history-container">
  <p>Your Search History</p>
  <div class="flex-header-container">
    <p>Search Team</p>
    <p>Search Results</p>
  </div>
  <div
    *ngFor="let profile of (history$ | async)?.history"
    class="flex-body-container"
  >
    <p>{{ profile.user_name }}</p>
    <app-profile-card
      class="profile-card"
      [profile]="profile"
    ></app-profile-card>
  </div>
  <div class="search-button">
    <input type="button" value="Clear Browser History" (click)="clearHistory()" />
  </div>
</div>
