a {
    text-decoration: none;
}

div.profile-card-item {
    display: flex;
    flex-direction: row;

    >div {
        padding: 10px;
    }

    >div>p {
        padding: 10px;
        color: rgb(117, 117, 117);
    }

    >div>img {
        padding: 10px;
        width: 100px;
        height: 100px;
    }

}

.fullname {
    font-weight: bold;
}